.*.sw?
.vim/bundle
.vim/.netrwhist
.DS_Store
/Users/davec/Projects/rails-book/shine/.vimrc
.vim/pack
.vim/undo
.bash/npm
installed.json
.vim/after/
.vim/autoload/
.vim/ftplugin/
.vim/indent/
.vim/record/
.vim/syntax/
*.sw?
Session.vim
