[user]
	name = Dave Copeland
	email = davec@naildrivin5.com
[core]
	excludesfile = /Users/davidcopeland/.gitignore
	excludesfile = /Users/davec/.gitignore
	attributesfile = ~/.gitattributes
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  changed = red bold
  untracked = cyan
[alias]
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[rerere]
  enabled = 0
[mergetool]
	keepBackup = true
[github]
	user = davetron5000
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /root/work
[diff "image"]
	command = ~/Projects/OpenSource/git-diff-image/git_diff_image
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
  defaultBranch = main
