[user]
	name = Dave Copeland
	email = davetron5000@gmail.com
[core]
	excludesfile = /Users/davec/.gitignore
	editor = mvim -f
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green reverse
    local = green 
    remote = yellow
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow bold
    changed = red bold
    untracked = cyan
    
