[user]
	name = Dave Copeland
	email = dave.copeland@positiveenergyusa.com
[core]
	excludesfile = /Users/davec/.gitignore
	editor = mvim -f
[importscour]
	command = /Applications/importscour-0.9.0/importscour.sh
[checkstyle]
	checkfile = /Users/davec/Projects/checkstyle_hook/checkstyle.xml
	jar = /Users/davec/Projects/importscour/lib/test/checkstyle-all-4.4.jar
[post-commit]
	remote = local-drive
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green reverse
    local = green 
    remote = yellow
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow bold
    changed = red bold
    untracked = cyan
    
