quit-after-last-window-closed=true
macos-titlebar-style=tabs
theme=Chalkboard
keybind = global:cmd+option+backquote=toggle_quick_terminal
keybind = ctrl+w>n=new_split:up
keybind = ctrl+w>k=goto_split:up
keybind = ctrl+w>j=goto_split:down
keybind = ctrl+w>u=resize_split:up,100
keybind = ctrl+w>d=resize_split:down,100
quick-terminal-animation-duration=0.1
font-family = "SauceCodePro Nerd Font Mono"
font-family-bold = "SauceCodePro Nerd Font Mono Bold"
font-family-italic = "SauceCodePro Nerd Font Mono Italic"
font-family-bold-italic = "SauceCodePro Nerd Font Mono Italic"
font-size = 16
background-opacity = 0.9
minimum-contrast=1.1
# To research further
# command-palette-entry
